# front-end modules, logs etc.

front-end/node_modules/
front-end/.idea/
front-end/npm-debug.log

# back-end modules, logs etc
back-end/node_modules/
back-end/.idea/
back-end/npm-debug.log
back-end/data/

.idea/

# locally generated tiles (redundant)
sat_data/tiles/*

# nicht Platform-unabhängiger non-sense
*.bat
*.ps1