<div class="row">
    <div class="modal-header">
        <h1 class="modal-title">Help</h1>
    </div>
</div>
<div class="row searchRow">
    <div class="modal-body">
        <div class="col-sm-6">
            <div class="row helprow">
                <table class="cleantable2">
                    <tr>
                        <td>
                            <div class="sb-icon-search-help"></div>
                        </td>
                        <td style="padding-left: 3px;">
                            <p style="position: relative; top: -0px;">This is the quicksearch for identifiers.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="row helpbuttons">
                <table class="cleantable2">
                    <tr>
                        <td>
                            <button type="button" title="draw boundingbox for search" class="advsearch">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <p>This allows for darwing a boundingbox and start a search inside this box.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="row helpbuttons">
                <table class="cleantable2">
                    <tr>
                        <td>
                            <button type="button" class="advsearch" title="show advancedsearch">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <p>This shows the advanced search for identifiers or dates and works with the boundingbox search.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="row helpbuttons">
                <table class="cleantable2">
                    <tr>
                        <td>
                            <button type="button" title="Show pixel information" class="advsearch">
                                <i class="fa fa-magic" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <p>This returns the original Sentinel-2 measurement.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="row helpbuttons">
                <table class="cleantable2">
                    <tr>
                        <td>
                            <button type="button" title="Load your image." class="compbutton2">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <p>This saves your imagesettings to our db.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="row helpbuttons">
                <table class="cleantable2">
                    <tr>
                        <td>
                            <button type="button" title="Save your image." class="compbutton2">
                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <p>This loads your saved imagesettings from our db.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="row helpbuttons">
                <table class="cleantable2">
                    <tr>
                        <td>
                            <button type="button" title="Choose band colors." class="compbutton2">
                                <i class="fa fa-paint-brush" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <p>This opens the band color selector.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="row helpbuttons">
                <table class="cleantable2">
                    <tr>
                        <td>
                            <button type="button" title="Compute?" class="compbutton2">
                                <i class="fa fa-cogs" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <p>This opens the compute interface for special requests.</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row helpbuttons2">
                <table class="cleantable2">
                    <tr>
                        <td>
                            <button class="btn btnleft buttonwhite" type="button" ng-click="">NDVI</button>
                            <br>
                            <br>
                            <button class="btn btnleft buttonwhite" type="button" ng-click="">Near Infra-red</button>
                        </td>
                        <td style="padding-left: 39px;">
                            <p>Buttons like these are shortcuts to their functions.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <br>
            <br>
            <div class="row helpbuttons2">
                <table class="cleantable2">
                    <tr>
                        <td>

                            <table>
                                <tr>
                                    <td>
                                        <h4>Processing...&nbsp;</h4>
                                    </td>
                                    <td>
                                        <div class="loader"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding-left: 15px;">
                            <p>This indicates that a user requested band calculation is in progess. You will be notified after its done.</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="modal-footer">
        <button class="btn btn-primary buttonwhite" type="button" ng-click="dismiss()">Close</button>
    </div>
</div>