<div class="row">
    <div class="modal-header">
        <h1 class="modal-title">Help</h1>
    </div>
</div>
<div class="row searchRow">
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="row helprow">
                <table class="cleantable2">
                    <tr>
                        <td>
                            <div class="sb-icon-search-help"></div>
                        </td>
                        <td>
                            <p>This opens the quicksearch for identifiers.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="row helpbuttons">
                <table class="cleantable2">
                    <tr>
                        <td>
                            <button type="button" title="draw boundingbox for search" class="advsearch">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <p>This allows for darwing a boundingbox and start a search inside this box.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="row helpbuttons">
                <table class="cleantable2">
                    <tr>
                        <td>
                            <button type="button" class="advsearch" title="show advancedsearch">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <p>This opens the advanced search for identifiers or dates and works with the boundingbox search.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <br>

        </div>
    </div>
</div>
<div class="row">
    <div class="modal-footer">
        <button class="btn btn-primary buttonwhite" type="button" ng-click="dismiss()">Close</button>
    </div>
</div>