/* Search icon by IcoMoon, made with http://icomoon.io/app/ */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot');
    src: url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.woff') format('woff'), url('../fonts/icomoon/icomoon.ttf') format('truetype'), url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: 100;
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: #4f17b0;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 14px;
	color: #404040;
	margin: 0;
    padding: 0px;
    /* overflow: hidden; */
    height: 100%;
}

h1 {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 22px;
	color: #404040;
}

h2 {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	color: #404040;
}

h3 {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	color: #404040;
}

.box {
	background-color: rgba(255, 255, 255, 0.9);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid black;
	margin-top: 10px;
}

.container-fluid {
    z-index: 5;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    cursor: crosshair;
}

#outer {
    width: 100%;
    text-align: center;
}

.advsearch {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 24px;
    margin-top: 0px;
    margin-left: -5px;
    float: left;
    background-color: #505050;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.advsearch:hover {
    border: none;
    background-color: #505050;
    color: white;
}

.advsearch:active {
    background-color: #505050;
    transform: translateY(0px);
}

.buttonwhite {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: 20px;
    height: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: white;
    color: #404040;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0px;
}

.buttonwhite:hover {
    background-color: #008dc5;
    color: white;
}

.buttonwhite:active {
    background-color: #008dc5;
    transform: translateY(2px);
}

.ng-scope {
    padding: 0;
    margin: 0;
}


/*
 *  Scrollbar
 */

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: rgba(255, 255, 255, 0.5);
    overflow-y: scroll;
    margin-bottom: 25px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #B9B9B9;
    border: none;
}


/* Searchbar */

.sb-search {
    position: relative;
    margin-top: 10px;
    margin-left: -5px;
    width: 0%;
    min-width: 40px;
    height: 40px;
    border: 1px solid black;
    float: left;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 40px;
    margin: 0;
    /* z-index: 0; */
    padding: 0px 0px 0px 10px;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 16px;
    color: #404040;
}

.sb-search-input:hover::-webkit-input-placeholder {
    color: white;
}

input[type="search"].sb-search-input {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.sb-search-input::-webkit-input-placeholder {
    color: #404040;
}

.sb-search-input:-moz-placeholder {
    color: #404040;
}

.sb-search-input::-moz-placeholder {
    color: #404040;
}

.sb-search-input:-ms-input-placeholder {
    color: #404040;
}

.sb-icon-search,
.sb-search-submit {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff;
    /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    background: #505050;
    z-index: 90;
    font-size: 16px;
    font-family: 'icomoon';
    font-style: normal;
    font-weight: 100;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
    content: "\e000";
}

.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: #505050;
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}


/* Overlay style */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(70, 8, 141, 0.6);
}


/* Overlay closing cross */

.overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(../img/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 1000;
}


/* Effects */

.container {
    background: #fff;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.container.overlay-open {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.overlay-contentscale {
    visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
    transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentscale.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.overlay {
    z-index: 1000;
}

.extended {
    position: relative;
    top: 0px;
    left: -5px;
    width: 400px;
    background: rgba(80, 80, 80, 0.9);;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: left;
    color: white;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-weight: 100;
    font-style: normal;
}

.extended.ng-hide {
    left: -400px;
}

.extended.ng-hide-add,
.extended.ng-hide-remove {
    /* this is required as of 1.3x to properly
         apply all styling in a show/hide animation */
    transition: 0s linear all;
}

.extended.ng-hide-add-active,
.extended.ng-hide-remove-active {
    /* -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
        -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
        -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
        transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    */
    transition: all ease-in-out 0.2s;
}

.extended.ng-show-add-active {
    display: block;
}


/* Form */

form {
    text-align: left;
    padding-top: 10px;
}

label.date {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    text-align: right;
    font-variant: small-caps;
    clear: both;
    float: left;
    margin-right: 15px;
}

input[type=date] {
    height: 25px;
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    background-color: lighten(#2f2f2f, 40%);
    outline: none;
    border: 1px solid black;
    border-radius: 0px;
    padding: 0 3px;
    color: #000;
}

input[type=text] {
    height: 25px;
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
    font-weight: 100;
    background-color: lighten(#2f2f2f, 40%);
    outline: none;
    border: 1px solid black;
    border-radius: 0px;
    padding: 0 3px;
    color: #000;
    text-align: center;
}

input:hover {
    background-color: #008dc5;
    color: white;
}

:hover::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder:hover {
    color: white;
}

:-ms-input-placeholder:hover {
    color: white;
}


/* leaflet stuff */

.leaflet-popup-tip-container {
    display: none;
}

.leaflet-popup-content-wrapper {
    border-radius: 0px;
}

.leaflet-routing-container {
    border-radius: 0px;
}

.leaflet-control-layers {
    border-radius: 0px;
}

.leaflet-container.crosshair-cursor-enabled {
    cursor: crosshair;
}

.cleantable,
.cleantable tr,
.cleantable tbody td,
.cleantable thead th,
.cleantable tfoot th {
    border: none;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.cleantable tbody td,
tr {
    width: 50%;
}

.cleantable tbody td {
    height: 100%;
}

div.search {
    margin-bottom: 8px;
    margin-left: -18px;
}

div.bottom{
    position: absolute;
    bottom: 0;
}
.searchresults {
    background: rgba(80, 80, 80, 0.9);
    border: 1px solid black;
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    color: white;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-weight: 100;
    font-style: normal;
}