<!-- home.html -->
<div class="jumbotron text-center" data-ng-init="initExtended()">
    <div id="outer">
        <leaflet lf-center="center" id="map" markers="markers" layers="layers" defaults="defaults"></leaflet>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-4">
                <div ui-search searched="searchedItem"></div>
                <br>
                <br>
                <br>

                <!-- some fine tuning still needed -->
                <button type="button" class="advsearch" ng-click="toggleChecked()">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </button>

                <div class="extended" ng-show="checked">
                    <form>
                        <input type="text" id="" placeholder="Identifier" />
                        <br>
                        <br>
                        <table>
                            <tr>
                                <td colspan="2">
                                    <label class="date">recording date</label>
                                </td>
                            </tr>
                            <tr>
                                <td width="70px">
                                    <p>
                                        <label class="date">before:</label>
                                    </p>
                                </td>
                                <td>
                                    <input ng-model="input.start" type="date" />
                                </td>
                            </tr>
                            <tr>
                                <td width="70px">
                                    <p>
                                        <label class="date">after:</label>
                                    </p>
                                </td>
                                <td>
                                    <input ng-model="input.end" type="date" />
                                </td>
                            </tr>
                        </table>
                        <br>
                        <p>
                            <input type="button" value="Search" class="buttonwhite" ng-click="startSearch(input)" />
                        </p>
                    </form>
                </div>
            </div>
            <div class="col-sm-8">
            </div>
        </div>
    </div>
</div>